.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos para la clase flag */
/* Estilos para la clase flag y su contenedor */
.flag {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 500px; /* Tamaño fijo para todas las banderas */
  height: 300px; /* Tamaño fijo para todas las banderas */
  margin: auto; /* Centrar dentro de su contenedor */
  border-radius:20px;
}

/* Estilos para el contenedor que contiene la bandera */
.flag-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100%; /* Asegura que el contenedor ocupe toda la altura disponible */
  margin-top: 10px; /* Ajusta este valor según sea necesario */

}

/* Estilos para el contenedor padre */
.container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh; /* Ajustar altura al 100% del viewport */
  margin-top: -400px; /* Ajusta este valor según sea necesario */

}

.fondo {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG_d_mSdue5iUrsyZHdA00uY29j3ueLNeS_Q&usqp=CAU');
  background-repeat:no-repeat ;
  background-size: contain;
}


.puntaje {

  margin-top: 200px;
}

.puntajeCenter{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.form{

  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */

}

.bordes{

  border-radius:20px;

}